@using Eduker.Areas.Admin.ViewModels.UserVm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EditUserVm
@{
    Layout = "_AdminLayout";
}

<div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner" style="background-color: #0a58ca">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left" style="background-color: #0a58ca">
                        <div class="page-title">
                            <h1 style="color: #eaebf0">Roles</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <form method="post">
            <div style="margin-top: 30px">
                <p style="margin-bottom: 0;">UserName</p>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName, "имена должны быть разными")
            </div>

            <div style="margin-top: 30px">
                <p style="margin-bottom: 0;">Email</p>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "Не может быть 2 одиннаковые почты на одном аккаунте")
            </div>

            <div style="margin-top: 30px">
                <p style="margin-bottom: 0;">RealName</p>
                @Html.EditorFor(model => model.RealName)
                @Html.ValidationMessageFor(model => model.RealName, "Заполнить")
            </div>

            <div style="margin-top: 30px">
                <p style="margin-bottom: 0;">Address</p>
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address, "Заполнить")
            </div>

            <button type="submit" class="btn btn-outline-primary" style="margin-top: 30px">
                Commit
            </button>
        </form>
    </div>
    </div>

<div id="right-panel" class="right-panel">
    <div class="content">
        <a asp-area="Admin" asp-controller="User" asp-action="Index">
            <button type="submit" class="btn btn-link btn-sm">
                Back
            </button>
        </a>
    </div>
</div>